<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirection</title>
</head>
<body>
  <h1>Your password has been reset</h1>
  <h2>Please log back in on Fresh Find</h2>
</body>
</html>