<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fresh Find Password Reset</title>
</head>
<body>
  <form action="http://localhost:8080/api/recovery/<%= token %>" method="post">
    <input type="hidden" name="_METHOD" value="PUT">
    <label for="password">New Password</label>
    <input type="password" name="password" id="">
    <label for="passwordagain">Type your password again</label>
    <input type="password" name="passwordagain" id="">
    <input type="submit" value="Reset Password">
  </form>
</body>
</html>