<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fresh Find Password Reset</title>
  <style>
    body {
      background: #eee !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .wrapper {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    .form-signin {
      max-width: 380px;
      padding: 15px 35px 45px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .form-signin-heading {
      margin-bottom: 30px;
    }

    .checkbox {
      font-weight: normal;
      margin-bottom: 30px;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      box-sizing: border-box;
    }

    .form-control:focus {
      z-index: 2;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      display: block;
    }

    .btn {
      background-color: #176B96;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 4px;
    }

    .btn:hover {
      background-color: #14587a;
    }

  </style>
</head>
<body>
  <div class="wrapper">
    <form action="https://app.freshfind.dev/api/recovery/<%= token %>" method="post">
      <h2 class="form-signin-heading">Reset Password</h2>
        <input type="password" id="password1" class="form-control" name="password1" placeholder="New Password" required="" autofocus="" />
        <input type="password" id="password2" class="form-control" name="password" placeholder="Confirm Password" required=""/>    
          <p id="not-match" style="color: rgb(189, 0, 0);">Passwords doesn't match</p>
          <p id="match">Passwords match </p>  
          <button id="submitBtn" class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button> 
      </form>
    </div>

    <script>
      const password1 = document.getElementById("password1");
      const password2 = document.getElementById("password2");
      const submitBtn = document.getElementById("submitBtn");
      const statusNotMatch = document.getElementById("not-match");
      const statusMatch = document.getElementById("match");
      statusMatch.style.display = "none";
      statusNotMatch.style.display = "none";


      function validatePasswords() {
        if (password1.value === password2.value && password1.value !== "") {
          statusMatch.style.display = "block";
          statusNotMatch.style.display = "none";
          submitBtn.disabled = false;
        } else {
          statusMatch.style.display = "none";
          statusNotMatch.style.display = "block";
          submitBtn.disabled = true;
        }

        if (password1.value == '' || password2.value == '') {
          statusMatch.style.display = "none";
          statusNotMatch.style.display = "none";
        }
      }

      console.log("Script loaded");
      password1.addEventListener("input", validatePasswords);
      password2.addEventListener("input", validatePasswords);
  </script>
</body>
</html>